{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
 
    <div class="h-100 d-flex flex-column justify-content-center align-items-center w-100">
      <h2 class="pb-4">Change Your Password</h2>
      <form method="post">
        {% csrf_token %}
        <div class="d-flex flex-column justify-content-center w-auto">
          {{form.old_password.label}}<br/>
          {{form.old_password}}<br/>

          {{form.new_password1.label}}<br/>
          {{form.new_password1}}<br/>

          {{form.new_password2.label}}<br/>
          {{form.new_password2}}<br/>
        </div>

        <button class="btn btn-warning" type="submit">Save changes</button>
        <br>
      </form>
      {% for message in messages %}
  
        <p class="py-3 px-5 bg-danger mt-3 pl-3 text-white mb-3">{{message}}</p>
  
      {% endfor %}
    </div>
</div>
{% endblock main-content %}