{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}

<div class="container h-100">
  
    <div class="ResetContainer">
        
        <div class="info">
            <h3>Enter new password</h3>

            <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
        </div>

        <form method="post">

            {% csrf_token %}
            {% for f in form %}
                {{f.label}}<br/>
                {{f}}<br/>
            {% endfor %}
            <input type="Submit" class="btn btn-warning my-2" name="Update Password">
            
        </form>
        
    </div>

</div>

{% endblock main-content %}