{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}

<div class="container h-100">
  
    <div class="resetDone">

        <h3 class="pb-3 mt-4">Password reset sent</h3>


        <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
        
        <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>

    </div>

</div>

{% endblock main-content %}