{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}

<div class="ResetContainer">
    <div class="info">
        <h3>Password reset</h3>

        <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

    </div>
    <form method="post">

        {% csrf_token %}
        {% for f in form %}
            {{f.label}}<br/>
            {{f}}<br/>
        {% endfor %}
        <input type="Submit" class="btn btn-warning my-2" name="Send email">
        
    </form>
</div>

{% endblock main-content %}